#backImg{width: 2000px;}
#logoImg{width: 300px;position: absolute;top:50px;left: 50%;transform:translate(-50%, 0%);}
#loginBox{width: 400px;height: 600px;position: absolute;top: 50%;left: 50%;
	transform:translate(-50%, -65%);}
#loginBack{width: 100%;height: 100%;background-color: black;opacity: 0.6;
	position: absolute;top: 0px;left: 0px;}
#loginInfo{width: 400px;height: 600px;position: absolute;top: 0px;left: 0px;padding: 30px;}
#loginInfo>h1{color: white;}
#loginSns{width:100%;margin-top: 200px;}
#loginSns a{width:100%;margin-top: 10px;}
#JoinInfo{width:100%;margin: 10px auto;}

.row{margin-bottom: 30px;}
.footer{text-align: center;margin-left: 10px;}