@charset "UTF-8";

body {
	position: relative; padding: 0px; margin: 0px;background-color: #151515;
}
#header{background-color: black;}
#content {padding-top:50px;color: #fff; background-color: #151515; width: 100%; margin: auto;}
#footer {padding-top:50px;height:200px;color: #fff; background-color: #151515;}
input[type=number], input[type=password], input[type=text], textarea, input[type=date], input[type=tel]{
    background-color: #2E2E2E;
    color: #fff;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    background-color: #2E2E2E;
    color: #fff;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*
input[type=submit]{
    background-color: #8e8e8e;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover{
    background-color: #2E2E2E;
    padding: 8px;
    border-radius: 4px;
}

input[type=button]{
    background-color: #8e8e8e;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

input[type=button]:hover{
    background-color: #2E2E2E;
    padding: 8px;
    border-radius: 4px;
}

table{
    border-collapse: collapse;
    width: 1000px;
}


tr:nth-child(even){background-color: #4e4e4e}

th {
    background-color: #2E2E2E;
    color: white;
}
*/
th, td{
    text-align: left;
    padding: 8px;
}