@charset "UTF-8";

body {
	position: relative; 
}
#content {padding-top:50px;height:500px;color: #fff; background-color: #424242;}
#footer {padding-top:50px;height:500px;color: #fff; background-color: #424242;}
