@charset "UTF-8";

body {
	position: relative; 
}
#content {padding-top:50px;color: #fff; background-color: #424242;}
#footer {padding-top:50px;height:200px;color: #fff; background-color: #424242;}
input[type=text], textarea {
    background-color: #2E2E2E;
    color: #fff;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    background-color: #2E2E2E;
    color: #fff;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit]{
    background-color: #8e8e8e;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover{
    background-color: #2E2E2E;
    padding: 8px;
    border-radius: 4px;
}

table{
    border-collapse: collapse;
    width: 1000px;
}

th, td{
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color: #4e4e4e}

th {
    background-color: #2E2E2E;
    color: white;
}
