<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Content_genreMapper">
	<insert id="insert" parameterType="cgenre">
		insert into content_genre values(0,#{content_num},#{genre_num})
	</insert>
	<update id="update" parameterType="cgenre">
		update content_genre set content_num=#{content_num},genre_num=#{genre_num} 
		where cgenre_num=#{cgenre_num}
	</update>
	<delete id="delete" parameterType="int">
		delete from content_genre where cgenre_num=#{value}
	</delete>
	<!-- 장르테이블의 분류가 변경될때 장르연결된거 삭제하기 -->
	<delete id="genredelete" parameterType="int">
		delete from content_genre where genre_num=#{value}
	</delete>
	<select id="list" resultType="cgenre" parameterType="int">
		select * from content_genre where content_num=#{value}
	</select>
	<select id="find" parameterType="int" resultType="cgenre">
		select * from content_genre where cgenre_num=#{value}
	</select>
	<select id="getCategory" parameterType="int" resultType="int">
		select category_num
		from content_genre cg,genre g
		where cg.genre_num = g.genre_num and cg.content_num=#{value}
		limit 1
	</select>
</mapper>
  
