<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ContentMapper">
	<insert id="insert" parameterType="content">
		insert into content values(0,#{contentName},#{orgsrc},#{savesrc},#{content_summary},
		#{trailer_orgsrc},#{trailer_savesrc},#{content_size},#{trailer_size},#{content_post1},
		#{content_post2},#{release},#{watch_age},#{content_regdate},#{series_num})
	</insert>
	<update id="update" parameterType="content">
		update content set content_name=#{contentName},orgsrc=#{orgsrc},savesrc=#{savesrc},
		content_summary=#{contentSummary},trailer_orgsrc=#{trailerOrgsrc},
		trailer_savesrc=#{trailerSavesrc},content_size=#{contentSize},trailer_size=#{trailerSize},
		content_post1=#{contentPost1},content_post2=#{contentPost2},release=#{release},
		watch_age=#{watchAge},content_regdate=#{contentRegdate},series_num=#{seriesNum} 
		where content_num=#{contentNum}
	</update>
	<delete id="delete" parameterType="int">
		delete from content where content_num=#{value}
	</delete>
	<select id="list" resultType="content">
		select * from content
	</select>
	<select id="find" parameterType="int" resultType="content">
		select * from content where #{value}
	</select>
</mapper>
  
