<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ContentMapper">
	<insert id="insert" parameterType="content">
		insert into content values(#{content_num},#{content_name},#{orgsrc},#{savesrc},#{content_summary},
		#{trailer_orgsrc},#{trailer_savesrc},#{content_size},#{trailer_size},#{content_post1},
		#{content_post2},#{release_date},#{watch_age},now(),#{series_num})
	</insert>
	<update id="update" parameterType="content">
		update content 
		set 
		<if test="savesrc != null">
			orgsrc=#{orgsrc},savesrc=#{savesrc},
			content_size=#{content_size},
		</if>
		<if test="trailer_savesrc != null">
			trailer_orgsrc=#{trailer_orgsrc},trailer_savesrc=#{trailer_savesrc},
			trailer_size=#{trailer_size},
		</if>
		<if test="content_post1 != null">
			content_post1=#{content_post1},
		</if>
		<if test="content_post2 != null">
			content_post2=#{content_post2},
		</if>
		<if test="series_num != 0">
			series_num=#{series_num},
		</if>
		content_name=#{content_name},content_summary=#{content_summary},
		release_date=#{release_date},watch_age=#{watch_age}
		where content_num=#{content_num}
	</update>
	<update id="deleteSeries" parameterType="int">
		update content set series_num=0 where series_num=#{value}
	</update>
	<delete id="delete" parameterType="int">
		delete from content where content_num=#{value}
	</delete>
	<select id="list" resultType="content" parameterType="hashmap">
		select *
		from content
		<if test="keyword != null">
			where content_name like CONCAT('%',#{keyword},'%')
		</if>
		order by 
		<if test="sort == 'recommend'">
			content_num desc
		</if>
		<if test="sort == 'date'">
			release_date desc
		</if>
		<if test="sort == 'asc'">
			content_name 
		</if>
		<if test="sort == 'desc'">
			content_name desc
		</if>
		limit #{startRow}, #{rowBlockCount}
	</select>
	<select id="find" parameterType="int" resultType="content">
		select * from content where content_num=#{value}
	</select>
	<select id="count" resultType="int">
		select count(*) from content
	</select>
	<select id="listCount" resultType="int" parameterType="hashmap">
		select count(*) from content 
		<if test="keyword != null">
			where content_name like CONCAT('%',#{keyword},'%')
		</if>
	</select>
	<select id="maxNum" resultType="int">
		select max(content_num) from content
	</select>
	<select id="userViewList" resultType="content" parameterType="hashmap">
		select c.* 
		from content c
		<if test="listType == 'jjim'">
			, interasts i
		</if>
		<if test="listType == 'best'">
			,(select content_num,count(*) cnt
			from interasts
			group by content_num) i
		</if>
		<where>
			<if test="listType == 'jjim'">
				c.content_num = i.content_num and i.profile_num = #{profile_num}
			</if>
			<if test="listType == 'best'">
				c.content_num = i.content_num
			</if>
		</where>
		order by 
		<if test="listType == 'jjim'">
			i.interasts_num desc
		</if>
		<if test="listType == 'new'">
			c.content_num desc
		</if>
		<if test="listType == 'best'">
			i.cnt desc
		</if>
		limit 0,40
	</select>
	<select id="recommendList" parameterType="hashmap" resultType="content">
		select c.*
		from content c inner join
		(
			select content_num
			from content_genre cg inner join
			(
				select g.genre_num
				from
				(
					select cg.*
					from
					(
						select * 
						from interasts 
						where profile_num=#{profile_num}
					) i, content_genre cg
					where i.content_num = cg.content_num
				) cg, genre g
				where cg.genre_num = g.genre_num
				group by genre_num
				order by count(*) desc
				limit 0,3
			) my
			on cg.genre_num=my.genre_num
			group by content_num
			order by count(*) desc
		) rec
		on c.content_num=rec.content_num
		where c.content_num not in
		(
			select content_num 
			from interasts 
			where profile_num=#{profile_num}
		)
		limit #{startRow}, #{rowBlockCount}
	</select>
	<select id="seriesList" resultType="content" parameterType="int">
		select * from content where series_num=#{series_num} order by release_date
	</select>
	<select id="similarList" parameterType="hashmap" resultType="content">
		select c.*
		from content c inner join
		(
			select content_num
			from content_genre cg inner join
			(
				select genre_num
				from content_genre
				where content_num=#{content_num}
			) my
			on cg.genre_num=my.genre_num
			group by content_num
			order by count(*) desc
		) j
		on c.content_num = j.content_num
		<if test="series_num != 0">
			where series_num != #{series_num}
		</if>
		limit 0,20
	</select>
	<select id="searchGenreName" parameterType="hashmap" resultType="content">
		select c.*
		from content c inner join
		(
			select content_num
			from content_genre cg inner join
			(
				select genre_num 
				from genre 
				where genre_name like concat('%',#{txt},'%')
				<if test="category_num != 0">
					and category_num=#{category_num}
				</if>
			) g
			on cg.genre_num=g.genre_num
			group by content_num
		) s
		on c.content_num=s.content_num
	</select>
	<select id="searchStaffName" parameterType="hashmap" resultType="content">
		select c.*
		from content c inner join
		(
			select scs.content_num
			from
			(
				select content_num
				from content_staff cs inner join
				(
					select staff_num 
					from staff 
					where staff_name like concat('%',#{txt},'%')
				) s
				on cs.staff_num=s.staff_num
				group by content_num
			) scs inner join
			(
				select content_num
				from content_genre cg inner join
				(
					select genre_num 
					from genre 
					<if test="category_num != 0">
						where category_num=#{category_num}
					</if>
				) g
				on cg.genre_num=g.genre_num
				group by content_num
			) scg
			on scs.content_num=scg.content_num
		) ss
		on c.content_num=ss.content_num
	</select>
	<select id="searchContentName" parameterType="hashmap" resultType="content">
		select c.*
		from content c inner join
		(
			select content_num
			from content_genre cg inner join
			(
				select genre_num 
				from genre 
				<if test="category_num != 0">
					where category_num=#{category_num}
				</if>
			) g
			on cg.genre_num=g.genre_num
			group by content_num
		) cg
		on c.content_num=cg.content_num
		where content_name like concat('%',#{txt},'%')
	</select>
</mapper>
  
