<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Content_commentMapper">
	<insert id="insert" parameterType="ccomment">
		insert into content_comment values(#{comment_num},#{comment},#{c_lev},#{c_step},#{content_num},
			#{profile_num},#{comment_open},#{bookmark})
	</insert>
	<update id="update" parameterType="ccomment">
		update content_comment set comment=#{comment},c_lev=#{c_lev},c_step=#{c_step},
		content_num=#{content_num},profile_num=#{profile_num},comment_open=#{comment_open},
		bookmark=#{bookmark} where comment_num=#{comment_num}
	</update>
	<delete id="delete" parameterType="int">
		delete from content_comment where comment_num=#{comment_num}
	</delete>
	<delete id="relDelete" parameterType="int">
		delete from content_comment where content_num=#{content_num}
	</delete>
	<select id="list" parameterType="hashmap" resultType="cbookmark">
		select cc.*, b.bookmark_time 
		from (content_comment cc left join 
			(select comment_num,count(*) cnt
			from good
			group by comment_num) g
			on cc.comment_num=g.comment_num) left join bookmark b
    		on cc.comment_num=b.comment_num
		where content_num=#{content_num} and comment_open=true and c_lev=0
		order by 
		<if test="sort == 'new'">
			comment_num desc
		</if>
		<if test="sort == 'good'">
			cnt desc
		</if>
		limit #{rowNum},5
	</select>
	<select id="subList" parameterType="int" resultType="ccomment">
		select *
		from content_comment
		where c_lev=#{value}
		order by comment_num
	</select>
	<select id="find" parameterType="int" resultType="ccomment">
		select * from content_comment where comment_num=#{value}
	</select>
	<select id="count" parameterType="int" resultType="int">
		select count(*) from content_comment where content_num=#{value}
	</select>
	<select id="getMax" resultType="int">
		select max(comment_num) from content_comment
	</select>
	<select id="userCoList" parameterType="hashmap" resultType="mypagecomment">
		select m.comment_num, m.comment, m.c_lev, m.c_step, m.content_num, m.profile_num, m.comment_open, m.bookmark, m.content_name, b.bookmark_time, b.bookmark_num
		from (select c.comment_num, c.comment, c.c_lev, c.c_step, c.content_num, c.profile_num, c.comment_open, c.bookmark, t.content_name
				from content_comment c, content t
				where c.content_num = t.content_num and profile_num = #{profile_num}) m left join bookmark b
        on m.comment_num = b.comment_num
        <where>
			<if test="comment_open != null">
				and m.comment_open = #{comment_open}
			</if>
			<if test="bookmark != null">
				and m.bookmark = #{bookmark}
			</if>
		</where>
		order by m.comment_num desc
		limit #{startRow}, #{rowBlockCount}
	</select>
	<select id="userCoCount" parameterType="hashmap" resultType="int">
		select count(*)
		from content_comment c, content t
		<where>
			c.content_num = t.content_num and profile_num = #{profile_num}
			<if test="comment_open != null">
					and comment_open = #{comment_open}
			</if>
			<if test="bookmark != null">
				and bookmark = #{bookmark}
			</if>
		</where>
	</select>
	<select id="relDeleteList" resultType="ccomment" parameterType="int">
		select * from content_comment where content_num=#{content_num}
	</select>
</mapper>
  
