<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.GenreMapper">
	<insert id="insert" parameterType="genre">
		insert into genre values(0,#{genre_name},#{category_num})
	</insert>
	<update id="update" parameterType="genre">
		update genre set genre_name=#{genre_name},category_num=#{category_num} where genre_num=#{genre_num}
	</update>
	<delete id="delete" parameterType="int">
		delete from genre where category_num = #{value}
	</delete>
	<select id="list" parameterType="int" resultType="genre">
		select * from genre where category_num = #{value}
	</select>
	<select id="clist" resultType="categenre">
		select *
		from genre g
		full outer join category c
		on g.category_num = c.category_num;
	</select>
</mapper>
  
