<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mapper.ProfileUserMapper">
 	<!-- 해당 유저 프로필 전체 가져오기 -->
 	<select id="userProfileList" resultType="com.jhta.netflix.profile.vo.ProfileUserListVo" parameterType="String">
 		select A.users_num,A.sts,B.profile_num,B.nickname,B.profile_age,B.profile_first,C.pimg_src from users A,profile B, profile_img C where A.users_num = B.users_num and B.pimg_num = C.pimg_num  and A.id=#{id} order by B.profile_regdate
 	</select>
 	<insert id="userProfileInsert" parameterType="hashmap">
 		insert into profile values(0,#{vo.nickname},(select users_num from users where id = #{id}),#{vo.pimg_num},#{vo.profile_age},#{vo.profile_pwd},#{vo.profile_first}, now())
 	</insert>	
 	<update id="userProfileUpdate" parameterType="profileUser">
 		update profile set nickname=#{nickname}, pimg_num=#{pimg_num}, profile_pwd=#{profile_pwd}, profile_first=#{profile_first} where profile_num = #{profile_num}
 	</update>
 	<delete id="userProfileDelete" parameterType="int">
 		delete from profile where profile_num = #{profile_num}
 	</delete>
 	<select id="getInfo" parameterType="int" resultType="com.jhta.netflix.profile.vo.ProfileUserListVo">
 		select A.users_num,A.sts,B.profile_num,B.nickname,B.profile_age,B.profile_first,C.pimg_src from users A,profile B, profile_img C where A.users_num = B.users_num and B.pimg_num = C.pimg_num  and B.profile_num = #{profile_num}
 	</select>
 </mapper>