<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RecordMapper">
	<insert id="insert" parameterType="record">
		insert into record values(0,#{next_watch},#{total_time},#{profile_num},#{content_num})
	</insert>
	<update id="update" parameterType="record">
		update record set next_watch=#{next_watch},total_time=#{total_time},profile_num=#{profile_num},
		content_num=#{content_num} where record_num=#{record_num}
	</update>
	<delete id="delete" parameterType="int">
		delete from record where record_num=#{record_num}
	</delete>
	<delete id="relDelete" parameterType="int">
		delete from record where content_num=#{content_num}
	</delete>
	<select id="list" resultType="record">
		select * from record
	</select>
	<select id="find" parameterType="record" resultType="record">
		select * 
		from record 
		where profile_num=#{profile_num} and content_num=#{content_num}
	</select>
 </mapper>