<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.SeriesMapper">
	<insert id="insert" parameterType="series">
		insert into series values(0,#{series_name},#{season})
	</insert>
	<update id="update" parameterType="series">
		update series set series_name=#{series_name},season=#{season} where series_num=#{series_num}
	</update>
	<delete id="delete" parameterType="int">
		delete from series where series_num=#{value}
	</delete>
	<select id="list" parameterType="string" resultType="series">
		select * from series where series_name like CONCAT('%',#{value},'%')
	</select>
	<select id="find" parameterType="int" resultType="series">
		select * from series where series_num=#{value}
	</select>
</mapper>
  
