<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StaffMapper">
	<insert id="insert" parameterType="staff">
		insert into staff values(0,#{staff_position},#{staff_name},#{staff_age},
		#{staff_gender},#{staff_debut})
	</insert>
	<update id="update" parameterType="staff">
		update staff set staff_position=#{staff_position},staff_name=#{staff_name},
		staff_age=#{staff_age},staff_gender=#{staff_gender},staff_debut=#{staff_debut}
		where staff_num=#{staff_num}
	</update>
	<delete id="delete" parameterType="int">
		delete from staff where staff_num=#{value}
	</delete>
	<select id="list" parameterType="hashmap" resultType="staff">
		select * from staff
		<where>
			<if test="position != null">
				staff_position=#{position}
			</if>
			<if test="staff_name != null">
				and staff_name like CONCAT('%',#{staff_name},'%')
			</if>
			<if test="keyword != null">
				and staff_name like CONCAT('%',#{keyword},'%')
			</if>
		</where>
		order by staff_num desc
		limit #{startRow}, #{rowBlockCount}
	</select>
	<select id="listCount" resultType="int" parameterType="hashmap">
		select count(*) from staff 
		<where>
			<if test="position != null">
				staff_position=#{position}
			</if>
			<if test="keyword != null">
				and staff_name like CONCAT('%',#{keyword},'%')
			</if>
		</where>
	</select>
</mapper>
  
