<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SurveyMapper">
	<insert id="surveyInsert" parameterType="survey">
		insert into survey(userNum,spoint,joinNum,state) values(#{userNum},#{spoint},#{joinNum},"결제완료")
	</insert>
	<insert id="surveyQuestionInsert" parameterType="surveyQuestion">
		insert into survey_question values(0,#{surveyNum},#{sqTitle},#{sqType})
	</insert>
	<insert id="surveyAnswerInsert" parameterType="surveyAnswer">
		insert into survey_answer values(0,#{sqNum},#{saAnswer})
	</insert>
	<insert id="surveyVideoInsert" parameterType="surveyVideo">
		insert into survey_video values(0,#{surveyNum},#{svOrgSrc},#{svSaveSrc})
	</insert>
	
	<update id="surveyUpdate" parameterType="survey">
		update survey set surveyName=#{surveyName},surveyDescription=#{surveyDescription},
			surveyStart=now(),surveyEnd=#{surveyEnd},state=#{state}
		where survey_num=#{surveyNum}
	</update>
	<update id="userPointUpdate" parameterType="hashmap">
		update users set point=point-#{point} where users_num=#{userNum}
	</update>
	
	
	<select id="surveyNumSelect" parameterType="hashmap" resultType="int">
		select survey_num from survey
		where userNum=#{userNum} and state=#{state} 
	</select>
	<select id="sqNumSelect" parameterType="hashmap" resultType="int">
		select sq_num from survey_question
		where survey_num=#{surveyNum} and sq_title=#{sqTitle}
	</select>
	<select id="userSelect" parameterType="String" resultType="user">
		select * from users where id=#{userId}
	</select>
	
	
	<select id="surveyListSelect" parameterType="String" resultType="survey">
		select * from survey where state=#{state}		
		<choose>
			<when test="value=='등록완료'">
				order by surveyEnd desc
			</when>			
			<when test="value=='설문종료'">
				order by surveyStart desc
			</when>
		</choose>
	</select>
	
	
	
	
	
	
	
	
</mapper>