<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SurveyMapper">
	<sql id="search">
		<if test="field!=null and field!=''">
			and ${field} like CONCAT('%',#{keyword},'%')
		</if>
	</sql>
	
	<insert id="surveyInsert" parameterType="survey">
		insert into survey(userNum,surveyName,surveyStart,spoint,joinNum,state) values(#{userNum},"제목없음",now(),#{spoint},#{joinNum},"결제완료")
		<selectKey keyProperty="surveyNum" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>	
	</insert>
	<insert id="surveyQuestionInsert" parameterType="surveyQuestion">
		insert into survey_question values(0,#{surveyNum},#{sqTitle},#{sqType})
		<selectKey keyProperty="sqNum" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="surveyAnswerInsert" parameterType="surveyAnswer">
		insert into survey_answer values(0,#{sqNum},#{saAnswer})
	</insert>
	<insert id="surveyVideoInsert" parameterType="surveyVideo">
		insert into survey_video values(0,#{surveyNum},#{svOrgSrc},#{svSaveSrc})
	</insert>
	<insert id="resultInsert" parameterType="surveyResult">
		insert into survey_result values(0,#{sqNum},#{srAnswer})
	</insert>
	<insert id="surveyInInsert" parameterType="surveyIn">
		insert into survey_in values(0,#{userNum},#{surveyNum})
	</insert>
	
	<delete id="surveyDelete" parameterType="survey">
		delete from survey where surveyNum=#{surveyNum}
	</delete>
	<delete id="surveyQuestionDelete" parameterType="int">
		delete from survey_question where surveyNum=#{surveyNum}
	</delete>
	<delete id="surveyVideoDelete" parameterType="int">
		delete from survey_video where svNum=#{svNum}
	</delete>
	
	<update id="surveyUpdate" parameterType="survey">
		update survey set surveyName=#{surveyName},surveyDescription=#{surveyDescription},
			surveyStart=now(),
			<if test="surveyEnd!=null and surveyEnd!=''">surveyEnd=#{surveyEnd},</if>
			state=#{state}
		where surveyNum=#{surveyNum}
	</update>
	<update id="surveyStateUpdate" parameterType="hashmap">
		update survey set state=#{state} where surveyNum=#{surveyNum}
	</update>	
	<update id="userPointUpdate" parameterType="hashmap">
		update users set point=point-#{point} where users_num=#{userNum}
	</update>
	<update id="userPointUpdate1" parameterType="hashmap">
		update users set point=point+#{point} where users_num=#{userNum}
	</update>
	
		
	<select id="leftPoint" parameterType="int" resultType="int">
		select A.spoint-floor(A.spoint/A.joinNum)*(select count(*) from survey_in where surveyNum=#{surveyNum})
		from (select spoint,joinNum from survey where surveyNum=#{surveyNum}) A
	</select>
	<select id="toUpdateSurveyVoSelect" resultType="survey">
		select * from survey 
		where state="등록완료" and date(surveyEnd)=date(subdate(now(),interval 1 day))
	</select>
	<select id="surveyNumSelect" parameterType="hashmap" resultType="int">
		select surveyNum from survey
		where userNum=#{userNum} and surveyStart=#{surveyStart} 
	</select>
	<select id="sqNumSelect" parameterType="hashmap" resultType="int">
		select sqNum from survey_question
		where surveyNum=#{surveyNum} and sqTitle=#{sqTitle}
	</select>
	<select id="joinCntSelect" parameterType="int" resultType="int">
		select count(*) from survey_in where surveyNum=#{surveyNum}
	</select>
	<select id="getTypeSelect" parameterType="int" resultType="int">
		select sqType from survey_question where sqNum=#{sqNum}
	</select>
	<select id="userSelect" parameterType="String" resultType="user">
		select * from users where id=#{userId}
	</select>	
	<select id="surveySelect" parameterType="int" resultType="survey">
		select * from survey where surveyNum=#{surveyNum}
	</select>
	<select id="surveyVideoSelect" parameterType="int" resultType="surveyVideo">
		select * from survey_video where surveyNum=#{surveyNum}
	</select>
	<select id="surveyInSelect" parameterType="hashmap" resultType="surveyIn">
		select * from survey_in where userNum=#{userNum} and surveyNum=#{surveyNum}
	</select>
	<select id="surveyInSelect1" parameterType="int" resultType="int">
		select surveyNum from survey_in where userNum=#{userNum}
	</select>
	<select id="surveyQuestionSelect" parameterType="int" resultType="surveyQuestion">
		select * from survey_question where surveyNum=#{surveyNum}
	</select>
	<select id="surveyAnswerSelect" parameterType="int" resultType="surveyAnswer">
		select * from survey_answer where sqNum=#{sqNum}
	</select>
	<select id="listCountSelect" parameterType="hashmap" resultType="int">
		select count(*) from survey where state=#{state}
		<include refid="search"/>
	</select>
	<select id="surveyListSelect" parameterType="hashmap" resultType="survey">
		select * from survey where state=#{state}
		<include refid="search"></include>	
		<choose>
			<when test="state=='등록완료'">
				order by surveyEnd desc
			</when>			
			<when test="state=='설문종료'">
				order by surveyStart desc
			</when>
		</choose>
		limit #{startRow},#{rowBlockCount}
	</select>
	<select id="mySurveyListSelect" parameterType="hashmap" resultType="survey">
		select * from survey where userNum=#{userNum} and state=#{state} order by surveyStart desc
	</select>
	<select id="srAnswerCnt" parameterType="int" resultType="srCnt">
		select srAnswer,count(*) cnt from survey_result where sqNum=#{sqNum} group by srAnswer order by srAnswer;
	</select>
	<select id="surveyResultSelect" parameterType="int" resultType="surveyResult">
		select * from survey_result where sqNum=#{sqNum}
	</select>
	
	
	
	
</mapper>