<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
	<select id="login" resultType="user" parameterType="String">
		select users_num,id,pwd,pwd2,sts from users where id=#{id}
	</select>
	<insert id="defaultJoin" parameterType="user">
		insert into users values(0,#{id},#{pwd},#{birth},0,#{sts},#{pwd2})
	</insert>
	<select id="id_check" resultType="int" parameterType="String">
		select count(*) from users where id=#{id}
	</select>
	
	<!-- 포인트 업데이트 -->
	<update id="pointUpdate" parameterType="hashmap">
		update users set point = #{point} where users_num = #{users_num}
	</update>
	<select id="userInfo" resultType="user" parameterType="String">
		select * from users where id = #{id}
	</select>
	
	<!-- 회원리스트 뿌리기 -->
	<select id="userlist" resultType="adminUser" parameterType="hashmap">
		select u.*, g.pay_num, g.grade_num, g.grade_name
		from users u left join (select p.*, g.grade_name, g.grade_price
								from pay_info p, grade g
								where p.grade_num = g.grade_num and pay_end >= now()) g
		on u.users_num = g.users_num
		<if test="sts >= 0">
			where sts = #{sts }
		</if>
		order by users_num desc
		limit #{startRow}, #{rowBlockCount}
	</select>
	<select id="userCount" resultType="int" parameterType="hashmap">
		select count(*)
		from users
		<if test="sts >= 0">
			where sts = #{sts }
		</if>
	</select>
	
	<!-- 탈퇴시키기 -->
	<update id="userStsUp" parameterType="hashmap">
		update users set sts = #{sts} where users_num = #{users_num}
	</update>
 </mapper>