<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <typeAliases>
		<typeAlias type="" alias=""/>
	</typeAliases> -->
	<typeAliases>
		<typeAlias type="com.jhta.netflix.content.vo.ContentVo" alias="content"/>
		<typeAlias type="com.jhta.netflix.category.vo.CategoryVo" alias="category"/>
		<typeAlias type="com.jhta.netflix.user.vo.UserVo" alias="user"/>
		<typeAlias type="com.jhta.netflix.genre.vo.GenreVo" alias="genre"/>
		<typeAlias type="com.jhta.netflix.staff.vo.StaffVo" alias="staff"/>
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyVo" alias="survey"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyQuestionVo" alias="surveyQuestion"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyAnswerVo" alias="surveyAnswer"/>		
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/UserMapper.xml"/>
		<mapper resource="mapper/ContentMapper.xml"/>
		<mapper resource="mapper/CategoryMapper.xml"/>
		<mapper resource="mapper/GenreMapper.xml"/>
		<mapper resource="mapper/StaffMapper.xml"/>
		<mapper resource="mapper/SurveyMapper.xml"/>
	</mappers>
</configuration>  