<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <typeAliases>
		<typeAlias type="" alias=""/>
	</typeAliases> -->
	<typeAliases>
		<typeAlias type="com.jhta.netflix.content.vo.ContentVo" alias="content"/>
		<typeAlias type="com.jhta.netflix.category.vo.CategoryVo" alias="category"/>
		<typeAlias type="com.jhta.netflix.category.vo.CateGenreVo" alias="categenre"/>
		<typeAlias type="com.jhta.netflix.user.vo.UserVo" alias="user"/>
		<typeAlias type="com.jhta.netflix.user.vo.CertificationVo" alias="certifi"/>
		<typeAlias type="com.jhta.netflix.profile.vo.ProfileVo" alias="profile"/>
		<typeAlias type="com.jhta.netflix.profile.vo.ProfileUserVo" alias="profileUser"/>
		<typeAlias type="com.jhta.netflix.genre.vo.GenreVo" alias="genre"/>
		<typeAlias type="com.jhta.netflix.staff.vo.StaffVo" alias="staff"/>
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyVo" alias="survey"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyQuestionVo" alias="surveyQuestion"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyAnswerVo" alias="surveyAnswer"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyVideoVo" alias="surveyVideo"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyResultVo" alias="surveyResult"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyInVo" alias="surveyIn"/>		
		<typeAlias type="com.jhta.netflix.series.vo.SeriesVo" alias="series"/>		
		<typeAlias type="com.jhta.netflix.content_genre.vo.Content_genreVo" alias="cgenre"/>		
		<typeAlias type="com.jhta.netflix.content_staff.vo.Content_staffVo" alias="cstaff"/>		
		<typeAlias type="com.jhta.netflix.qna.vo.QnaVo" alias="qna"/>		
		<typeAlias type="com.jhta.netflix.qna_user.vo.Qna_userVo" alias="qnauser"/>
		<typeAlias type="com.jhta.netflix.content_comment.vo.Content_commentVo" alias="ccomment"/>
		<typeAlias type="com.jhta.netflix.interasts.vo.InterastsVo" alias="interasts"/>
		<typeAlias type="com.jhta.netflix.good.vo.GoodVo" alias="good"/>
		<typeAlias type="com.jhta.netflix.profile.vo.ProfileUserVo" alias="profileUser"/>
		<typeAlias type="com.jhta.netflix.rates.vo.RatesVo" alias="rates"/>
		<typeAlias type="com.jhta.netflix.grade.vo.GradeVo" alias="grade"/>
		<typeAlias type="com.jhta.netflix.pay_info.vo.Pay_infoVo" alias="payInfo"/>
		<typeAlias type="com.jhta.netflix.pay_info.vo.Pay_gradeVo" alias="pay_grade"/>
		<typeAlias type="com.jhta.netflix.point_info.vo.Point_infoVo" alias="pointInfo"/>
		<typeAlias type="com.jhta.netflix.point_info.vo.User_pointVo" alias="UserPointInfo"/>
		<typeAlias type="com.jhta.netflix.rates.vo.RatesAvgVo" alias="ratesAvg"/>
		<typeAlias type="com.jhta.netflix.record.vo.RecordVo" alias="record"/>
		<typeAlias type="com.jhta.netflix.bookmark.vo.BookmarkVo" alias="bookmark"/>
		<typeAlias type="com.jhta.netflix.content_comment.vo.Comment_bookmarkVo" alias="cbookmark"/>
		<typeAlias type="com.jhta.netflix.content_comment.vo.Mypage_commentVo" alias="mypagecomment"/>
	</typeAliases>
</configuration>