<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <typeAliases>
		<typeAlias type="" alias=""/>
	</typeAliases> -->
	<typeAliases>
		<typeAlias type="com.jhta.netflix.content.vo.ContentVo" alias="content"/>
		<typeAlias type="com.jhta.netflix.category.vo.CategoryVo" alias="category"/>
		<typeAlias type="com.jhta.netflix.category.vo.CateGenreVo" alias="categenre"/>
		<typeAlias type="com.jhta.netflix.user.vo.UserVo" alias="user"/>
		<typeAlias type="com.jhta.netflix.user.vo.CertificationVo" alias="certifi"/>
		<typeAlias type="com.jhta.netflix.profile.vo.ProfileVo" alias="profile"/>
		<typeAlias type="com.jhta.netflix.genre.vo.GenreVo" alias="genre"/>
		<typeAlias type="com.jhta.netflix.staff.vo.StaffVo" alias="staff"/>
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyVo" alias="survey"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyQuestionVo" alias="surveyQuestion"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyAnswerVo" alias="surveyAnswer"/>		
		<typeAlias type="com.jhta.netflix.survey.vo.SurveyVideoVo" alias="surveyVideo"/>		
		<typeAlias type="com.jhta.netflix.series.vo.SeriesVo" alias="series"/>		
		<typeAlias type="com.jhta.netflix.content_genre.vo.Content_genreVo" alias="cgenre"/>		
		<typeAlias type="com.jhta.netflix.content_staff.vo.Content_staffVo" alias="cstaff"/>		
		<typeAlias type="com.jhta.netflix.qna.vo.QnaVo" alias="qna"/>		
		<typeAlias type="com.jhta.netflix.qna_user.vo.Qna_userVo" alias="qnauser"/>
	</typeAliases>
	
	
</configuration>